language: python
python:
  - "2.7"
services:
    - redis
addons:
  postgresql: "9"
install: bash bin/travis-build.bash
script: bash bin/travis-run.bash

# the new trusty images of Travis cause build errors with psycopg2, see https://github.com/travis-ci/travis-ci/issues/8897
dist: trusty
group: deprecated-2017Q4
